# Ignore build environment.
/venv/
/.idea/

# Ignore Flask template and static directories.
/templates/
/static/

# Ignore all cached files
*.pyc

# Ignore app engine configuration.
/app.yaml

# Ignore personal num_sheet.
# This file is used to map numbers for the email lookup function.
# Emails are stored in json format with the number being used as the key.
#
# Eg:
# {
#    "1NXXNXXXXXX": "email@example.com",
#    "+1NXXNXXXXXX": "email@example.com"
# }
/methods/data/num_sheet.json

# Ignore self-signed cert used for testing
/cert.pem
/key.pem

# Ignore firebase files
/firebasedata/
/key.json
/firebase.json
/*.log
/.gcloudignore
